<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Config Clint: </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1>Training Spring Cloud Config Client</h1>
        <p th:text=" 'Your rate is:  ' + ${rateamount} + ', number of lanes:  '  + ${lanes}  + ', total start and end: ' + ${tollstart} + ', '+ ${tollstop} " />
    </div>
    <div class="col-md-2"></div>
</div>
</body>
</html>